# Variables de Entorno para Render / Producción
VITE_SUPABASE_URL=https://plhladuvuggrqntccxku.supabase.co
VITE_SUPABASE_ANON_KEY=tu_clave_anon_de_supabase
VITE_ADMIN_USER=wertonywool
VITE_ADMIN_PASS=tu_password_admin
